<a href="https://colab.research.google.com/github/lilianabs/learning-pytorch/blob/main/Linear_reg_concrete.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import torch
import torch.nn as nn
from torch.utils.data import Dataset, DataLoader, random_split
import numpy as np
import math

import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("concrete.csv")
df.head()

   cement   slag  ash  water  superplastic  coarseagg  fineagg  age  strength
0   540.0    0.0  0.0  162.0           2.5     1040.0    676.0   28     79.99
1   540.0    0.0  0.0  162.0           2.5     1055.0    676.0   28     61.89
2   332.5  142.5  0.0  228.0           0.0      932.0    594.0  270     40.27
3   332.5  142.5  0.0  228.0           0.0      932.0    594.0  365     41.05
4   198.6  132.4  0.0  192.0           0.0      978.4    825.5  360     44.30

In [ ]:
class ConcreteDataset(Dataset):

  def __init__(self):
    
    concrete_df = pd.read_csv("concrete.csv")
    x = concrete_df.iloc[:, 0:8].values
    y = concrete_df.iloc[:, 8].values

    self.x = torch.tensor(x, dtype=torch.float32)
    self.y = torch.tensor(y, dtype=torch.float32)
    self.y = self.y.view(self.y.shape[0], 1)

  def __len__(self):
    return len(self.y)

  def __getitem__(self, idx):
    return self.x[idx], self.y[idx]

In [ ]:
dataset = ConcreteDataset()

In [ ]:
first_element = dataset[0]
features, label = first_element
print(features, label)

tensor([ 540.0000,    0.0000,    0.0000,  162.0000,    2.5000, 1040.0000,
         676.0000,   28.0000]) tensor([79.9900])

In [ ]:
train_dataset, test_dataset = random_split(dataset, [0.8, 0.2], generator=torch.Generator().manual_seed(42))

In [ ]:
train_dataloader = DataLoader(train_dataset, batch_size=4, shuffle=True)
test_dataloader = DataLoader(test_dataset, batch_size=4, shuffle=True)

In [ ]:
n_features = 8
input_size = n_features
output_size = 1

In [ ]:
from torch.nn.modules.linear import Linear
#model = nn.Linear(input_size, output_size)

class LinearRegresion(nn.Module):
  def __init__(self, input_size, output_size):
    super(LinearRegresion, self).__init__()
    self.fc1 = nn.Linear(8, 512)
    self.act1 = nn.ReLU()
    self.fc2 = nn.Linear(512, 512)
    self.act2 = nn.ReLU()
    self.fc3 = nn.Linear(512, 512)
    self.act3 = nn.ReLU()
    self.fc4 = nn.Linear(512, output_size)

  def forward(self, x):
    x = self.fc1(x)
    x = self.act1(x) 
    x = self.fc2(x)
    x = self.act2(x)
    x = self.fc3(x)
    x = self.act3(x)
    x = self.fc4(x)

    return x

In [ ]:
  model = LinearRegresion(input_size, output_size)

In [ ]:
learning_rate = 0.01
criterion = nn.MSELoss()
optimizer = torch.optim.SGD(model.parameters(), lr=learning_rate)

In [ ]:
num_epochs = 100

for epoch in range(num_epochs):
  for i, (x, y) in enumerate(train_dataloader):
    y_pred = model(x)
    loss = criterion(y_pred, y)
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

  if (epoch + 1) % 10 == 0:
    print(f"epoch: {epoch+1}, loss = {loss:.4f}")

epoch: 10, loss = nan
epoch: 20, loss = nan
epoch: 30, loss = nan
epoch: 40, loss = nan
epoch: 50, loss = nan
epoch: 60, loss = nan
epoch: 70, loss = nan
epoch: 80, loss = nan
epoch: 90, loss = nan
epoch: 100, loss = nan